Repository Path-of-Modifiers/pathofmodifiersapp, pull requests merged in 2024-09, with the labels that each got.

#420 314 setup rate limit rules in cloudflare and backend api
  development.md
  src/.env
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/account.py
  src/backend_api/app/api/routes/currency.py
  src/backend_api/app/api/routes/item.py
  src/backend_api/app/api/routes/item_base_type.py
  src/backend_api/app/api/routes/item_modifier.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/modifier.py
  src/backend_api/app/api/routes/plot.py
  src/backend_api/app/api/routes/stash.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/config.py
  src/backend_api/app/exception_handlers.py
  src/backend_api/app/exceptions/exceptions.py
  src/backend_api/app/limiter.py
  src/backend_api/app/main.py
  src/backend_api/pyproject.toml
  src/docker-compose.override.yml
  src/docker-compose.yml
Labels: backend.API, Security

#424 273 Added exit and exit message to prestart script backend retrieval
  src/backend_data_retrieval/data_retrieval/prestart.sh
Labels: backend.Managing data

#430 429 check if poe api token is not set then stop backend retrieval
  src/.env
  src/backend_data_retrieval/data_retrieval/prestart.sh
Labels: Feature, Deploy, backend.Managing data

#427 426 adjust existing tests to work with ratelimit routes
  src/backend_api/app/api/api_message_util.py
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/limiter.py
  src/backend_api/app/tests/api/api_routes_test_user.py
Labels: backend.API, Test, Bug

#447 446 Updated turnstile validation with correct detail responses on exc…
  src/backend_api/app/tests/api/api_routes_test_turnstile.py
  src/backend_api/app/tests/api/api_routes_test_user.py
  src/backend_api/app/validation/turnstile_validation.py
Labels: backend.API, Bug, Security

#456 428 replace jwt tokens with tradtitional approach in the redis cachesession database
  src/backend_api/Dockerfile
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/cache/__init__.py
  src/backend_api/app/core/cache/cache.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/core/config.py
  src/backend_api/app/core/schemas/token.py
  src/backend_api/app/core/schemas/user.py
  src/backend_api/app/core/security.py
  src/backend_api/app/exceptions/exceptions.py
  src/backend_api/app/tests/api/api_routes_test_login.py
  src/backend_api/app/tests/api/api_routes_test_user.py
  src/backend_api/app/tests/conftest.py
  src/backend_api/app/tests/utils/cache_utils.py
  src/backend_api/app/tests/utils/database_utils.py
  src/backend_api/app/utils/user.py
  src/backend_api/pyproject.toml
Labels: backend.API, Urgent, Test, Security, backend.Cache

#458 457 solve issues regarding tests bogadisa made
  src/backend_api/app/alembic/versions/99c06cd7231c_v6_baseline_added_hashediptable_and_.py
  src/backend_api/app/api/routes/item_modifier.py
  src/backend_api/app/core/models/models.py
  src/backend_api/app/core/schemas/item_modifier.py
  src/backend_api/app/tests/conftest.py
  src/backend_api/app/tests/utils/model_utils/item_modifier.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_api_data.py
Labels: backend.API, backend.Managing data, Test, Bug

#466 435 set up better httpexceptions using the fast api base exception
  src/backend_api/app/api/api_message_util.py
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/account.py
  src/backend_api/app/api/routes/item_base_type.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/crud/base.py
  src/backend_api/app/crud/user.py
  src/backend_api/app/exceptions/__init__.py
  src/backend_api/app/exceptions/exception_base.py
  src/backend_api/app/exceptions/exceptions.py
  src/backend_api/app/exceptions/model_exceptions/db_exception.py
  src/backend_api/app/exceptions/model_exceptions/request_exception.py
  src/backend_api/app/exceptions/model_exceptions/user_login_exceptions.py
  src/backend_api/app/exceptions/model_exceptions/util_exception.py
  src/backend_api/app/tests/api/api_routes_test_base.py
  src/backend_api/app/tests/api/api_routes_test_login.py
  src/backend_api/app/tests/api/api_routes_test_turnstile.py
  src/backend_api/app/tests/api/api_routes_test_user.py
  src/backend_api/app/tests/api/routes/test_account.py
  src/backend_api/app/tests/api/routes/test_currency.py
  src/backend_api/app/tests/api/routes/test_item.py
  src/backend_api/app/tests/api/routes/test_item_base_type.py
  src/backend_api/app/tests/api/routes/test_item_modifier.py
  src/backend_api/app/tests/api/routes/test_modifier.py
  src/backend_api/app/tests/api/routes/test_stash.py
Labels: backend.API, Urgent, Test, Project structure

#468 440 improve create in crud so that it handles duplicates better
  src/backend_api/app/crud/__init__.py
  src/backend_api/app/crud/base.py
  src/backend_api/app/tests/api/api_routes_test_base.py
  src/backend_api/app/tests/api/api_routes_test_user.py
  src/backend_api/app/tests/api/routes/test_account.py
  src/backend_api/app/tests/api/routes/test_currency.py
  src/backend_api/app/tests/api/routes/test_item.py
  src/backend_api/app/tests/api/routes/test_item_base_type.py
  src/backend_api/app/tests/api/routes/test_item_modifier.py
  src/backend_api/app/tests/api/routes/test_modifier.py
  src/backend_api/app/tests/api/routes/test_stash.py
  src/backend_api/app/tests/base_test.py
  src/backend_api/app/tests/crud/crud_test_base.py
Labels: backend.API, backend.Managing data, Test

#469 423 create user email confirmation before changing user email
  src/backend_api/app/api/api_message_util.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/cache/__init__.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/core/schemas/__init__.py
  src/backend_api/app/core/schemas/user.py
  src/backend_api/app/crud/user.py
  src/backend_api/app/email-templates/build/update_user.html
  src/backend_api/app/email-templates/src/update_user.mjml
  src/backend_api/app/exceptions/__init__.py
  src/backend_api/app/exceptions/model_exceptions/__init__.py
  src/backend_api/app/exceptions/model_exceptions/cache_exception.py
  src/backend_api/app/exceptions/model_exceptions/user_login_exception.py
  src/backend_api/app/tests/api/api_routes_test_login.py
  src/backend_api/app/tests/api/api_routes_test_user.py
  src/backend_api/app/utils/user.py
Labels: backend.API, backend.Managing data, Test, backend.Cache

#479 421 create custom rate limiter for plotting route
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/rate_limit/__init__.py
  src/backend_api/app/api/rate_limit/rate_limiter.py
  src/backend_api/app/api/routes/item.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/plot.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/cache/cache.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/core/config.py
  src/backend_api/app/exception_handlers.py
  src/backend_api/app/exceptions/exception_base.py
  src/backend_api/app/exceptions/model_exceptions/plot_exception.py
  src/backend_api/app/limiter.py
  src/backend_api/app/plotting/plotter.py
  src/backend_api/app/tests/api/api_routes_cascade_tests.py
  src/backend_api/app/tests/api/api_routes_test_base.py
  src/backend_api/app/tests/api/api_routes_test_login.py
  src/backend_api/app/tests/api/api_routes_test_user.py
  src/backend_api/app/tests/api/routes/test_login.py
  src/backend_api/app/tests/conftest.py
  src/backend_api/app/tests/crud/crud_models/test_modifier.py
  src/backend_api/app/tests/utils/cache_utils.py
  src/backend_api/app/tests/utils/user.py
  src/backend_api/app/tests/utils/utils.py
  src/backend_api/pyproject.toml
Labels: backend.API, Test, Optimization, backend.Cache

#480 475 update status codes to be exception status code in tests
  src/backend_api/app/api/deps.py
  src/backend_api/app/exceptions/exception_base.py
  src/backend_api/app/exceptions/model_exceptions/user_login_exception.py
  src/backend_api/app/tests/api/api_routes_test_base.py
  src/backend_api/app/tests/api/api_routes_test_login.py
  src/backend_api/app/tests/api/api_routes_test_user.py
Labels: backend.API, Test, Maintaining

#482 481 readjust structure in user and login api tests
  src/backend_api/app/tests/api/api_routes_test_login.py
  src/backend_api/app/tests/api/api_routes_test_turnstile.py
  src/backend_api/app/tests/api/api_routes_test_user.py
  src/backend_api/app/tests/api/routes/test_login.py
  src/backend_api/app/tests/api/routes/test_turnstile.py
  src/backend_api/app/tests/api/routes/test_user.py
Labels: Test, Project structure

#488 486 optimize authentication caching for user with dependency logic
  development.md
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/cache/__init__.py
  src/backend_api/app/core/cache/cache.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/tests/api/routes/test_login.py
  src/backend_api/app/tests/api/routes/test_user.py
  src/backend_api/app/tests/conftest.py
  src/docker-compose.yml
Labels: backend.API, Test, Documentation, Optimization, backend.Cache

#489 487 optimize email sent by creating a backgroundtask after response
  src/backend_api/app/api/routes/user.py
Labels: backend.API, Optimization

#483 477 add method to crud that checks for duplicates based on incoming data
  src/backend_api/app/api/routes/account.py
  src/backend_api/app/api/routes/item_base_type.py
  src/backend_api/app/api/routes/item_modifier.py
  src/backend_api/app/api/routes/stash.py
  src/backend_api/app/crud/__init__.py
  src/backend_api/app/crud/base.py
  src/backend_api/app/exceptions/model_exceptions/db_exception.py
  src/backend_api/app/exceptions/model_exceptions/util_exception.py
  src/backend_api/app/tests/api/api_routes_test_base.py
  src/backend_api/app/tests/api/routes/test_account.py
  src/backend_api/app/tests/api/routes/test_currency.py
  src/backend_api/app/tests/api/routes/test_item.py
  src/backend_api/app/tests/api/routes/test_item_base_type.py
  src/backend_api/app/tests/api/routes/test_item_modifier.py
  src/backend_api/app/tests/api/routes/test_modifier.py
  src/backend_api/app/tests/api/routes/test_stash.py
  src/backend_api/app/tests/base_test.py
  src/backend_api/app/tests/crud/crud_models/test_account.py
  src/backend_api/app/tests/crud/crud_models/test_currency.py
  src/backend_api/app/tests/crud/crud_models/test_item.py
  src/backend_api/app/tests/crud/crud_models/test_item_base_type.py
  src/backend_api/app/tests/crud/crud_models/test_item_modifier.py
  src/backend_api/app/tests/crud/crud_models/test_modifier.py
  src/backend_api/app/tests/crud/crud_models/test_stash.py
  src/backend_api/app/tests/crud/crud_test_base.py
Labels: backend.API, backend.Managing data, Test, Optimization

#484 474 update detail newline f triple quote to be single line instead
  src/backend_api/app/api/api_message_util.py
  src/backend_api/app/exceptions/model_exceptions/db_exception.py
  src/backend_api/app/exceptions/model_exceptions/user_login_exception.py
  src/backend_api/app/exceptions/model_exceptions/util_exception.py
Labels: backend.API, Project structure

#495 459 create tests for api rate limit functionality
  src/.env
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/plot.py
  src/backend_api/app/core/config.py
  src/backend_api/app/exceptions/exception_base.py
  src/backend_api/app/limiter.py
  src/backend_api/app/tests/api/api_routes_test_slowapi_rate_limit.py
  src/backend_api/app/tests/api/api_test_rate_limit_base.py
  src/backend_api/app/tests/api/routes/test_currency.py
  src/backend_api/app/tests/api/routes/test_item.py
  src/backend_api/app/tests/api/routes/test_item_base_type.py
  src/backend_api/app/tests/api/routes/test_login.py
  src/backend_api/app/tests/api/routes/test_modifier.py
  src/backend_api/app/tests/api/routes/test_plot.py
  src/backend_api/app/tests/api/routes/test_stash.py
  src/backend_api/app/tests/api/routes/test_turnstile.py
  src/backend_api/app/tests/api/routes/test_user.py
  src/backend_api/app/tests/conftest.py
  src/backend_api/app/tests/utils/model_utils/plot.py
  src/backend_api/app/tests/utils/rate_limit.py
  src/backend_api/backend_api.log
Labels: backend.API, Test, Security, backend.Cache, Rate limit

#505 504 solve get username on rate limitting key func
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/plot.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/limiter.py
  src/backend_api/app/tests/conftest.py
Labels: Test, Security, backend.Cache, Rate limit

#506 494 improve logging handling in the api with support for custom exceptions
  src/backend_api/app/backend_pre_start.py
  src/backend_api/app/crud/base.py
  src/backend_api/app/exception_handlers.py
  src/backend_api/app/exceptions/exception_base.py
  src/backend_api/app/exceptions/model_exceptions/db_exception.py
  src/backend_api/app/exceptions/model_exceptions/plot_exception.py
  src/backend_api/app/exceptions/model_exceptions/util_exception.py
  src/backend_api/app/logger.py
  src/backend_api/app/logs/__init__.py
  src/backend_api/app/logs/backendapi.log.jsonl
  src/backend_api/app/logs/config/__init__.py
  src/backend_api/app/logs/config/config.yml
  src/backend_api/app/logs/config/formatters.py
  src/backend_api/app/logs/config/sensitive_data_filter.py
  src/backend_api/app/logs/logger.py
  src/backend_api/app/main.py
  src/backend_api/app/middleware/request_logs.py
  src/backend_api/app/plotting/plotter.py
  src/backend_api/backend_api.log
  src/backend_api/pyproject.toml
Labels: backend.API, logging

#510 507 standardize logging format for backend data retrieval
  src/backend_data_retrieval/data_retrieval/dataretrieval_pre_start.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/data_retrieval/poe_api_retrieval/poe_api.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/main.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_ninja_currency_api_data.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/utils.py
  src/backend_data_retrieval/data_retrieval/logs/__init__.py
  src/backend_data_retrieval/data_retrieval/logs/config/__init__.py
  src/backend_data_retrieval/data_retrieval/logs/config/config.yml
  src/backend_data_retrieval/data_retrieval/logs/config/formatters.py
  src/backend_data_retrieval/data_retrieval/logs/config/sensitive_data_filter.py
  src/backend_data_retrieval/data_retrieval/logs/external_data_retrieval.log.jsonl
  src/backend_data_retrieval/data_retrieval/logs/logger.py
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/deposit_modifier_data.py
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/modifier_processing_modules.py
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/utils.py
Labels: backend.Managing data, logging

#518 517 convert database models to mapped attributes
  src/backend_api/app/alembic/versions/9cecfcadcb2b_v7_baseline_converted_rows_to_mappedtype.py
  src/backend_api/app/alembic/versions/v6/59a1d9f18849_added_checkconstraint_for_string_in_.py
  src/backend_api/app/alembic/versions/v6/99c06cd7231c_v6_baseline_added_hashediptable_and_.py
  src/backend_api/app/alembic/versions/v6/d388fc80c6f7_added_user_table_for_login_with_user.py
  src/backend_api/app/core/models/models.py
  src/backend_api/app/crud/base.py
Labels: backend.Database, backend.Managing data, Optimization

#525 522 solve cant pass 65550 parameters on inserting in db
  src/backend_api/app/core/models/models.py
  src/backend_api/app/crud/base.py
  src/backend_api/app/logs/backendapi.log
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/main.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/utils.py
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/deposit_modifier_data.py
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/modifier_data/ReplicaDragonfangsFlight.csv
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/utils.py
Labels: backend.Managing data, Bug

#528 526 bulk insert method on create with objects that dont on conflict do nothing
  src/backend_api/app/api/api.py
  src/backend_api/app/api/routes/__init__.py
  src/backend_api/app/api/routes/account.py
  src/backend_api/app/api/routes/currency.py
  src/backend_api/app/api/routes/item.py
  src/backend_api/app/api/routes/item_base_type.py
  src/backend_api/app/api/routes/item_modifier.py
  src/backend_api/app/api/routes/modifier.py
  src/backend_api/app/api/routes/stash.py
  src/backend_api/app/api/routes/test.py
  src/backend_api/app/crud/base.py
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/deposit_modifier_data.py
  src/backend_data_retrieval/data_retrieval/modifier_data_deposit/utils.py
Labels: backend.API, backend.Managing data, Optimization

#530 527 add base type deposit
  src/backend_api/app/alembic/versions/6d9ebe48cb1e_removed_created_and_updated_at_from_the_.py
  src/backend_api/app/core/models/models.py
  src/backend_api/app/core/schemas/item_base_type.py
  src/backend_data_retrieval/data_retrieval/data_deposit/README.md
  src/backend_data_retrieval/data_retrieval/data_deposit/__init__.py
  src/backend_data_retrieval/data_retrieval/data_deposit/deposit_base.py
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/__init__.py
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/deposit_item_base_type_data.py
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/itemBaseType_data/Amulets.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/itemBaseType_data/Armour.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/itemBaseType_data/Jewels.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/itemBaseType_data/Rings.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/itemBaseType_data/Weapons.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/main.py
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/__init__.py
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/deposit_modifier_data.py
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/AulsUprising.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/BalanceOfTerror.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/BrutalRestraint.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ElegantHubris.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ForbiddenFlame.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ForbiddenFlesh.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ForbiddenShako.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/GloriousVanity.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/GrandSpectrum.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ImpossibleEscape.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/LethalPride.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/MilitantFaith.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/Paradoxica.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/PrecursorsEmblem.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ReplicaDragonfangsFlight.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ShroudOfTheLightless.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/SkinOfTheLords.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/SplitPersonality.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/SublimeVision.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ThatWhichWasTaken.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfAmbition.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfAnguish.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfFear.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfGuilt.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfNostalgia.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfRegret.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheLightOfMeaning.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheUtmost.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ThreadOfHope.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/Voices.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/WatchersEye.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_processing_modules.py
  src/backend_data_retrieval/data_retrieval/data_deposit/utils.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_ninja_currency_api_data.py
  src/backend_data_retrieval/data_retrieval/logs/config/config.yml
  src/backend_data_retrieval/data_retrieval/logs/logger.py
  src/backend_data_retrieval/data_retrieval/prestart.sh
  src/backend_data_retrieval/data_retrieval/pyproject.toml
Labels: backend.Database, backend.New data, backend.Managing data, Project structure, Refactor

#531 520 improve logging in data retrieval by adding more and removing prints
  src/backend_api/app/crud/base.py
  src/backend_api/app/tests/api/api_test_rate_limit_base.py
  src/backend_api/app/tests/api/routes/test_user.py
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_processing_modules.py
  src/backend_data_retrieval/data_retrieval/data_deposit/utils.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/data_retrieval/poe_api_retrieval/poe_api.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/main.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/oauth/client_oauth_token.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_ninja_currency_api_data.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/utils.py
  src/backend_data_retrieval/data_retrieval/logs/config/config.yml
  src/backend_data_retrieval/data_retrieval/logs/logger.py
Labels: backend.Managing data, Logging
