Repository Path-of-Modifiers/pathofmodifiersapp, pull requests merged in 2024-10, with the labels that each got.

#541 #535 Updated models and migrated changes
  src/backend_api/app/alembic/versions/874158ad90c6_updated_checkconstraint_with_underscore_.py
  src/backend_api/app/core/models/models.py
Labels: backend.Database

#542 532 make regex matching unique + optimizations
  src/backend_data_retrieval/data_retrieval/data_deposit/deposit_base.py
  src/backend_data_retrieval/data_retrieval/data_deposit/itemBaseType/deposit_item_base_type_data.py
  src/backend_data_retrieval/data_retrieval/data_deposit/main.py
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/deposit_modifier_data.py
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/AulsUprising.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/BrutalRestraint.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ElegantHubris.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ForbiddenFlame.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ForbiddenFlesh.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ForbiddenShako.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/GloriousVanity.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ImpossibleEscape.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/LethalPride.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/MilitantFaith.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/Paradoxica.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/PrecursorsEmblem.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ReplicaDragonfangsFlight.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ShroudOfTheLightless.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/SkinOfTheLords.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/SublimeVision.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfAmbition.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfAnguish.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfFear.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfGuilt.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfNostalgia.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/TheCircleOfRegret.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/ThreadOfHope.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_data/Voices.csv
  src/backend_data_retrieval/data_retrieval/data_deposit/modifier/modifier_processing_modules.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/data_retrieval/poe_api_retrieval/poe_api.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval/external_data_retrieval/transforming_data/utils.py
  src/frontend/src/components/Input/ModifierInputComp/TextRollInput.tsx
Labels: backend.New data, backend.Managing data

#546 #534 Changed naming of depositor and better file names for class insi…
  src/backend_data_retrieval/data_retrieval_app/data_deposit/data_depositor_base.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/item_base_type/item_base_type_data_depositor.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/main.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data_depositor.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/modifier/test_modifier_data_depositor.py
Labels: backend.Managing data, Project structure, Quality

#550 #549 Improved naming for PoE in app and restructured data retrieval m…
  README.md
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_retrieval/__init__.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_ninja_currency_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_ninja_currency_retrieval/__init__.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/main.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_ninja_currency_api_data.py
  src/frontend/src/routes/_layout/about.tsx
Labels: backend.Managing data, Project structure, Quality

#552 534 create test outline for backend data retrival
  development.md
  src/backend_data_retrieval/Dockerfile.test
  src/backend_data_retrieval/data_retrieval_app/tests/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/conftest.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/item_base_type/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/item_base_type/test_item_base_type_depositor.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/modifier/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/modifier/test_modifier_data_depositor.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/modifier/test_modifier_processing_modules.py
  src/backend_data_retrieval/data_retrieval_app/tests/data_deposit/test_data_depositor_base.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/data_retrieval/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/data_retrieval/test_poe_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/data_retrieval/test_poe_ninja_currency_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/detectors/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/detectors/test_detectors.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/test_continuous_data_retrieval.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/transforming_data/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/transforming_data/test_roll_processor.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/transforming_data/transformation_models/__init__.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/transforming_data/transformation_models/test_transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval_app/tests/external_data_retrieval/transforming_data/transformation_models/test_transform_poe_ninja_currency_api_data.py
  src/backend_data_retrieval/data_retrieval_app/tests/test_utils.py
  src/backend_data_retrieval/start-tests.sh
Labels: backend.Managing data, Project structure, test.Simulate

#555 #554 Adjusted dockerfiles for file permission handling
  .github/workflows/test.yml
  src/backend_api/Dockerfile
  src/backend_api/app/logs/backendapi.log.jsonl
  src/backend_api/app/logs/pytest.log
  src/backend_api/pyproject.toml
  src/backend_data_retrieval/Dockerfile
  src/backend_data_retrieval/data_retrieval_app/logs/external_data_retrieval.log
  src/backend_data_retrieval/pyproject.toml
Labels: Deploy

#557 556 migrate new backend changes to frontend client
  src/frontend/openapi.json
  src/frontend/src/client/index.ts
  src/frontend/src/client/models/Body_logins_login_access_session.ts
  src/frontend/src/client/models/ItemBaseType.ts
  src/frontend/src/client/models/ItemModifier.ts
  src/frontend/src/client/models/ItemModifierCreate.ts
  src/frontend/src/client/models/ItemModifierUpdate.ts
  src/frontend/src/client/models/ModifierCreate.ts
  src/frontend/src/client/models/Token.ts
  src/frontend/src/client/models/UserRegisterPreEmailConfirmation.ts
  src/frontend/src/client/schemas/$Body_logins_login_access_session.ts
  src/frontend/src/client/schemas/$ItemBaseType.ts
  src/frontend/src/client/schemas/$ItemModifier.ts
  src/frontend/src/client/schemas/$ItemModifierCreate.ts
  src/frontend/src/client/schemas/$ItemModifierUpdate.ts
  src/frontend/src/client/schemas/$ModifierCreate.ts
  src/frontend/src/client/schemas/$Token.ts
  src/frontend/src/client/schemas/$UserRegisterPreEmailConfirmation.ts
  src/frontend/src/client/services/AccountsService.ts
  src/frontend/src/client/services/CurrencysService.ts
  src/frontend/src/client/services/ItemBaseTypesService.ts
  src/frontend/src/client/services/ItemModifiersService.ts
  src/frontend/src/client/services/ItemsService.ts
  src/frontend/src/client/services/LatestItemIdService.ts
  src/frontend/src/client/services/LoginsService.ts
  src/frontend/src/client/services/ModifiersService.ts
  src/frontend/src/client/services/StashsService.ts
  src/frontend/src/client/services/TestsService.ts
  src/frontend/src/client/services/UsersService.ts
  src/frontend/src/components/UserSettings/UserInformation.tsx
  src/frontend/src/hooks/validation/useAuth.ts
  src/frontend/src/routes/login.tsx
  src/frontend/src/routes/signup.tsx
Labels: Maintaining, frontend.Data

#558 533 create test data modifier for each regex matching in the database
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/main.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/data_deposit_test_data_creator.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/scrap_and_mock_poe_api_docs_objs.py
  src/backend_data_retrieval/data_retrieval_app/tests/test_data/.gitkeep
  src/backend_data_retrieval/data_retrieval_app/tests/utils.py
Labels: backend.Managing data, test.Simulate

#560 #559 Created author and description in toml files
  src/backend_api/pyproject.toml
  src/backend_data_retrieval/pyproject.toml
Labels: Communication

#562 561 setup vector with current logging system
  src/backend_api/app/logs/config/__init__.py
  src/backend_api/app/logs/config/config.yml
  src/backend_api/app/logs/config/formatters.py
  src/backend_api/app/logs/logger.py
  src/backend_api/app/middleware/request_logs.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/utils.py
  src/backend_data_retrieval/data_retrieval_app/logs/config/config.yml
  src/backend_data_retrieval/data_retrieval_app/logs/logger.py
  src/docker-compose.yml
  src/vector.yaml
Labels: backend.API, Deploy, backend.Managing data, Logging

#565 #548 Updated raise_for_status() with try except combined with logging…
  src/backend_data_retrieval/data_retrieval_app/data_deposit/data_depositor_base.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data_depositor.py
  src/backend_data_retrieval/data_retrieval_app/dataretrieval_pre_start.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_ninja_currency_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_ninja_currency_api_data.py
  src/backend_data_retrieval/data_retrieval_app/pom_api_authentication.py
  src/backend_data_retrieval/data_retrieval_app/utils.py
Labels: backend.Managing data, Logging

#567 566 create api healthcheck and make b retrieval dependent on api
  .github/workflows/test.yml
  src/backend_api/app/logs/config/__init__.py
  src/backend_api/app/logs/config/config.yml
  src/backend_api/app/logs/config/data_filter.py
  src/backend_api/app/main.py
  src/docker-compose.ci.yml
  src/docker-compose.override.yml
  src/docker-compose.yml
Labels: backend.API, Deploy, backend.Managing data

#568 497 add ip rate limit tracking for the user request api routes
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/currency.py
  src/backend_api/app/api/routes/item.py
  src/backend_api/app/api/routes/item_base_type.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/modifier.py
  src/backend_api/app/api/routes/plot.py
  src/backend_api/app/api/routes/stash.py
  src/backend_api/app/api/routes/turnstile.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/config.py
  src/backend_api/app/core/rate_limit/__init__.py
  src/backend_api/app/core/rate_limit/custom_rate_limiter.py
  src/backend_api/app/core/rate_limit/rate_limit_config.py
  src/backend_api/app/core/rate_limit/rate_limiters.py
  src/backend_api/app/exception_handlers.py
  src/backend_api/app/exceptions/model_exceptions/plot_exception.py
  src/backend_api/app/exceptions/model_exceptions/rate_limit_exception.py
  src/backend_api/app/main.py
  src/backend_api/app/tests/test_simulating_env/api/routes/test_plot.py
  src/backend_api/app/tests/test_simulating_env/conftest.py
Labels: Feature, Project structure, Rate limit

#570 508 test backend data retrieval with rate limitting in api enabled
  src/backend_api/app/core/rate_limit/rate_limit_config.py
  src/backend_api/app/tests/test_simulating_env/api/api_test_rate_limit_base.py
Labels: backend.Managing data, Rate limit

#571 #569 Updated twitter account and repo in footer
  src/frontend/src/components/Common/Footer.tsx
Labels: frontend.UI, Communication

#573 572 test by replacing public stashes test data with generated modifier test data
  src/backend_api/app/main.py
  src/backend_data_retrieval/data_retrieval_app/dataretrieval_pre_start.py
  src/backend_data_retrieval/data_retrieval_app/logs/config/config.yml
  src/backend_data_retrieval/data_retrieval_app/logs/logger.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/main.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/test_with_sim_data_deposit_pub_stash_data.py
  src/backend_data_retrieval/prestart.sh
  src/docker-compose.yml
Labels: backend.Managing data, test.Real

#578 #577 Updated login pages with better height and minheight config
  src/frontend/src/routes/login.tsx
  src/frontend/src/routes/recover-password.tsx
  src/frontend/src/routes/reset-password.tsx
  src/frontend/src/routes/signup.tsx
  src/frontend/src/theme.tsx
Labels: frontend.UI, Bug

#583 #509 Updated servers from Norway to Sweden
  src/frontend/src/routes/_layout/privacy-policy.tsx
Labels: GDPR

#579 470 update frontend with functionality for user email confirmation
  LICENSE.txt
  SECURITY.md
  deployment.md
  src/.env
  src/backend_api/app/api/api_message_util.py
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/login.py
  src/backend_api/app/api/routes/plot.py
  src/backend_api/app/api/routes/turnstile.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/core/rate_limit/rate_limit_config.py
  src/backend_api/app/email-templates/build/update_user.html
  src/backend_api/app/email-templates/src/update_user.mjml
  src/backend_api/app/exceptions/model_exceptions/user_login_exception.py
  src/backend_api/app/logs/config/config.yml
  src/backend_api/app/tests/test_simulating_env/api/api_routes_cascade_tests.py
  src/backend_api/app/tests/test_simulating_env/api/api_routes_test_base.py
  src/backend_api/app/tests/test_simulating_env/api/api_routes_test_slowapi_rate_limit.py
  src/backend_api/app/tests/test_simulating_env/api/routes/test_login.py
  src/backend_api/app/tests/test_simulating_env/api/routes/test_plot.py
  src/backend_api/app/tests/test_simulating_env/api/routes/test_turnstile.py
  src/backend_api/app/tests/test_simulating_env/api/routes/test_user.py
  src/backend_api/app/tests/test_simulating_env/conftest.py
  src/backend_api/app/utils/user.py
  src/backend_api/app/validation/turnstile_validation.py
  src/backend_api/pyproject.toml
  src/backend_data_retrieval/pyproject.toml
  src/frontend/openapi.json
  src/frontend/src/client/index.ts
  src/frontend/src/client/models/UserInCache.ts
  src/frontend/src/client/schemas/$UserInCache.ts
  src/frontend/src/client/services/CheckTokensService.ts
  src/frontend/src/client/services/LoginsService.ts
  src/frontend/src/client/services/UsersService.ts
  src/frontend/src/components/Icon/EditInputIcon.tsx
  src/frontend/src/components/UserSettings/ChangeEmailConfirmation.tsx
  src/frontend/src/components/UserSettings/ChangePassword.tsx
  src/frontend/src/components/UserSettings/ChangeUsernameConfirmation.tsx
  src/frontend/src/components/UserSettings/DeleteConfirmation.tsx
  src/frontend/src/components/UserSettings/UserInformation.tsx
  src/frontend/src/hooks/validation/useAuth.ts
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/_layout/privacy-policy.tsx
  src/frontend/src/routes/_layout/settings.tsx
  src/frontend/src/routes/_layout/terms-of-use.tsx
  src/frontend/src/routes/activate-account.tsx
  src/frontend/src/routes/login.tsx
  src/frontend/src/routes/reset-password.tsx
  src/frontend/src/routes/update-user-email.tsx
  src/frontend/src/routes/user-not-activated.tsx
  src/frontend/src/theme.tsx
Labels: Feature, backend.API, frontend.UI, frontend.Data

#582 #523 Added warning indication to request logs
  src/backend_api/app/middleware/request_logs.py
Labels: Logging

#590 #589 Fixed packages and removed bcrypt in backend_api
  src/backend_data_retrieval/pyproject.toml
Labels: Quality, dependencies

#593 485 create documentation about the authentication and ratelimit cache architecture
  src/backend_api/README.md
Labels: backend.API, Documentation

#595 594 optional skip and limit feature for all get all routes
  src/backend_api/app/api/params.py
  src/backend_api/app/api/routes/account.py
  src/backend_api/app/api/routes/currency.py
  src/backend_api/app/api/routes/item.py
  src/backend_api/app/api/routes/item_base_type.py
  src/backend_api/app/api/routes/item_modifier.py
  src/backend_api/app/api/routes/modifier.py
  src/backend_api/app/api/routes/stash.py
  src/backend_api/app/api/routes/test.py
  src/backend_api/app/api/routes/turnstile.py
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/rate_limit/rate_limit_config.py
  src/backend_api/app/crud/base.py
  src/backend_api/app/tests/test_simulating_env/conftest.py
  src/backend_api/pyproject.toml
  src/frontend/src/routes/activate-account.tsx
  src/frontend/src/routes/reset-password.tsx
  src/frontend/src/routes/signup.tsx
  src/frontend/src/routes/update-user-email.tsx
Labels: Feature, backend.API

#597 #596 Added user_rate_limiter to the test_pre_register_user_rate_limit…
  .github/workflows/test.yml
  src/backend_api/app/tests/test_simulating_env/api/api_test_rate_limit_base.py
  src/docker-compose.ci.yml
Labels: Bug, backend.API.Ratelimit, test.Simulate

#600 598 handle user being ratelimitted on routes if they perform non user error
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/rate_limit/rate_limiters.py
  src/frontend/openapi.json
  src/frontend/src/client/services/UsersService.ts
  src/frontend/src/components/UserSettings/ChangeUsernameConfirmation.tsx
  src/frontend/src/hooks/getData/checkUsernameExists.tsx
  src/frontend/src/hooks/getData/getBaseTypeCategories.tsx
Labels: backend.API, frontend.UI, frontend.Data

#603 601 make option to create from specific file in test create data poe stashes
  src/.env
  src/backend_api/app/core/schemas/item.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_ninja_currency_api_data.py
  src/backend_data_retrieval/data_retrieval_app/logs/logger.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/config.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/main.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/data_deposit_test_data_creator.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/scrap_and_mock_poe_api_docs_objs.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/test_with_sim_data_deposit_pub_stash_data.py
  src/backend_data_retrieval/data_retrieval_app/utils.py
  src/backend_data_retrieval/prestart.sh
Labels: Feature, backend.API, backend.data_retrieval, test.Real

#606 #576 Now uses item name from modifier files + bug fixes
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/main.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/data_deposit_test_data_creator.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/test_with_sim_data_deposit_pub_stash_data.py
Labels: Bug, Optimization, Refactor, test.Simulate
