Repository Path-of-Modifiers/pathofmodifiersapp, pull requests merged in 2024-11, with the labels that each got.

#610 #609 Added docs for backing up database
  development.md
Labels: backend.Database, Documentation

#621 613 refractor test data generation module
  src/backend_api/app/core/schemas/item_modifier.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/README.md
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/AulsUprising.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/BalanceOfTerror.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/BrutalRestraint.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/CircleOfAmbition.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/CircleOfAnguish.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/CircleOfFear.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/CircleOfGuilt.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/CircleOfNostalgia.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/CircleOfRegret.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ElegantHubris.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ForbiddenFlame.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ForbiddenFlesh.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ForbiddenShako.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/GloriousVanity.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/GrandSpectrum.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ImpossibleEscape.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/LethalPride.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/MilitantFaith.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/Paradoxica.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/PrecursorsEmblem.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ReplicaDragonfangsFlight.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ShroudOfTheLightless.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/SkinOfTheLords.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/SplitPersonality.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/SublimeVision.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ThatWhichWasTaken.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/TheLightOfMeaning.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/TheUtmost.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/ThreadOfHope.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/Voices.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/WatchersEye.csv
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/config.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/main.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/roll_processor.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/config.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/main.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/data_deposit_test_data_creator.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/scrap_and_mock_poe_api_docs_objs.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/test_with_sim_api.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/test_with_sim_data_deposit_pub_stash_data.py
  src/backend_data_retrieval/data_retrieval_app/tests/utils.py
  src/backend_data_retrieval/data_retrieval_app/utils.py
  src/backend_data_retrieval/prestart.sh
Labels: backend.new_data, backend.data_retrieval, Optimization, Refactor, test.Simulate

#611 607 optimize sql query in plotter module
  src/backend_api/app/core/schemas/plot/__init__.py
  src/backend_api/app/plotting/plotter.py
  src/frontend/src/components/Input/ItemInputComp/IsItemInput.tsx
  src/frontend/src/components/Input/ItemInputComp/ItemRarityInput.tsx
  src/frontend/src/components/Input/ItemInputComp/MinMaxItemLvlInput.tsx
  src/frontend/src/components/Input/ModifierInputComp/ModifierInput.tsx
  src/frontend/src/store/GraphInputStore.tsx
  src/frontend/src/store/StateInterface.tsx
Labels: Optimization

#618 614 fix frontend fetch data multiple times on not found
  src/frontend/src/components/Common/QueryButtons.tsx
  src/frontend/src/hooks/graphing/postPlottingData.tsx
  src/frontend/src/store/GraphInputStore.tsx
  src/frontend/src/store/StateInterface.tsx
Labels: frontend.UI, Optimization

#620 619 fix unauthorized bug when fetching data in frontend
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/hooks/getData/getBaseTypeCategories.tsx
  src/frontend/src/hooks/getData/prefetchGroupedModifiers.tsx
  src/frontend/src/main.tsx
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/_layout/index.tsx
  src/frontend/src/routes/activate-account.tsx
  src/frontend/src/routes/login.tsx
  src/frontend/src/routes/recover-password.tsx
  src/frontend/src/routes/update-user-email.tsx
  src/frontend/src/routes/user-not-activated.tsx
Labels: frontend.UI, Bug, frontend.Data

#629 #625 no longer sends plot requests if one is already fetching
  src/frontend/src/components/Common/QueryButtons.tsx
  src/frontend/src/hooks/graphing/postPlottingData.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/store/GraphInputStore.tsx
  src/frontend/src/store/StateInterface.tsx
Labels: Optimization, Refactor

#627 626 parse plot input state from url
  src/frontend/src/components/Common/MainPage.tsx
  src/frontend/src/components/Common/QueryButtons.tsx
  src/frontend/src/components/Input/ItemInputComp/ItemNameInput.tsx
  src/frontend/src/components/Input/ModifierInputComp/FancySelectedModifier.tsx
  src/frontend/src/routes/_layout.tsx
  src/frontend/src/routes/_layout/index.tsx
  src/frontend/src/store/GraphInputStore.tsx
  src/frontend/src/store/StateInterface.tsx
  src/frontend/src/store/utils.tsx
Labels: Feature

#633 632 further optimize sql query using exists
  src/backend_api/app/core/schemas/plot/__init__.py
  src/backend_api/app/core/schemas/plot/input.py
  src/backend_api/app/plotting/plotter.py
  src/backend_api/app/tests/utils/model_utils/plot.py
  src/frontend/openapi.json
  src/frontend/src/client/models/ItemCreate.ts
  src/frontend/src/client/models/ItemModifierCreate.ts
  src/frontend/src/client/models/PlotQuery.ts
  src/frontend/src/client/schemas/$ItemCreate.ts
  src/frontend/src/client/schemas/$ItemModifierCreate.ts
  src/frontend/src/client/schemas/$PlotQuery.ts
  src/frontend/src/components/Common/QueryButtons.tsx
  src/frontend/src/components/Input/ModifierInputComp/ModifierInput.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/routes/_layout/index.tsx
  src/frontend/src/store/GraphInputStore.tsx
Labels: backend.API, frontend.Data, Optimization

#642 #641 Created a new set undefined statehash function to fix bug
  src/frontend/src/components/Common/QueryButtons.tsx
  src/frontend/src/routes/_layout/index.tsx
  src/frontend/src/store/GraphInputStore.tsx
  src/frontend/src/store/StateInterface.tsx
Labels: Bug, frontend.Data

#645 #644 Fixed naming in amulets.csv and jewels.csv files
  src/backend_data_retrieval/data_retrieval_app/data_deposit/item_base_type/item_base_type_data/Amulets.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/item_base_type/item_base_type_data/Jewels.csv
Labels: backend.data_retrieval, Bug

#646 #643 Fix bug where subcategory and category with set url hash correctly
  src/frontend/src/components/Input/ItemInputComp/ItemNameInput.tsx
  src/frontend/src/hooks/getData/checkUsernameExists.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/store/GraphInputStore.tsx
Labels: Bug, frontend.Data

#648 #647 Fixed when on fresh session basetype gets set
  src/frontend/src/hooks/graphing/utils.tsx
Labels: Bug, frontend.Data, Optimization

#650 #647 Fixed error message handling for plot query
  src/frontend/src/components/Common/QueryButtons.tsx
  src/frontend/src/hooks/graphing/checkGraphQueryInput.tsx
Labels: Bug, Communication

#653 #651 Created better email handling and redirection of routes
  src/backend_api/app/api/routes/user.py
  src/backend_api/app/core/config.py
  src/backend_api/app/email-templates/build/email_changed_notify.html
  src/backend_api/app/email-templates/src/email_changed_notify.mjml
  src/backend_api/app/utils/user.py
  src/frontend/src/components/Input/ModifierInputComp/ModifierInput.tsx
  src/frontend/src/routes/activate-account.tsx
  src/frontend/src/routes/recover-password.tsx
  src/frontend/src/routes/signup.tsx
  src/frontend/src/routes/update-user-email.tsx
  src/frontend/src/routes/user-not-activated.tsx
Labels: frontend.UI, frontend.Data

#654 #651 Removed resulterror and added api toast message for general errors
  src/frontend/src/components/Common/QueryButtons.tsx
  src/frontend/src/hooks/graphing/postPlottingData.tsx
  src/frontend/src/hooks/graphing/processPlottingData.tsx
  src/frontend/src/store/ErrorStore.tsx
  src/frontend/src/store/StateInterface.tsx
Labels: frontend.UI, Communication, backend.API.Ratelimit

#656 #655 Added invalidate query on signup and logout
  src/frontend/src/hooks/validation/useAuth.ts
Labels: Bug, frontend.Data

#658 #657 Improved plotting error handling for no result found and render
  src/frontend/src/components/Graph/GraphComponent.tsx
  src/frontend/src/hooks/graphing/processPlottingData.tsx
  src/frontend/src/routes/activate-account.tsx
Labels: frontend.UI, Communication, frontend.Data

#661 #657 Improved routing between pages and refactored some components
  src/frontend/src/components/Common/CustomLink.tsx
  src/frontend/src/components/Common/Footer.tsx
  src/frontend/src/components/Common/Header.tsx
  src/frontend/src/components/Common/TermsOfUseOrPrivacyPolicyButtons.tsx
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/_layout/about.tsx
  src/frontend/src/routes/_layout/settings.tsx
  src/frontend/src/routes/about.tsx
  src/frontend/src/routes/login.tsx
  src/frontend/src/routes/privacy-policy.tsx
  src/frontend/src/routes/signup.tsx
  src/frontend/src/routes/terms-of-use.tsx
Labels: frontend.UI, Communication, frontend.Navigation

#660 246 add indicator for low confidence for graph
  src/backend_api/app/core/schemas/plot/output.py
  src/backend_api/app/plotting/plotter.py
  src/backend_api/app/plotting/utils.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/config.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/data_deposit_test_data_creator.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/test_with_sim_api.py
  src/frontend/openapi.json
  src/frontend/src/client/models/PlotData.ts
  src/frontend/src/client/schemas/$PlotData.ts
  src/frontend/src/components/Graph/CustomTooltip.tsx
  src/frontend/src/components/Graph/GraphComponent.tsx
  src/frontend/src/components/Input/StandardLayoutInput/ErrorMessage.tsx
  src/frontend/src/hooks/graphing/processPlottingData.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/schemas/Datum.tsx
  src/frontend/src/theme.tsx
Labels: Feature, backend.API, frontend.UI, frontend.Data, Quality

#667 665 refactor drop item table columns in data retrieval
  src/backend_api/app/alembic/versions/35736bccbe58_v8_create_baseline_for_hypertable_.py
  src/backend_api/app/core/models/models.py
  src/backend_api/app/core/schemas/item.py
  src/backend_api/app/tests/utils/model_utils/item.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_api_data.py
Labels: backend.Database, backend.data_retrieval, Refactor

#666 #663 Removed unused plot inputs and fixed autofocus min max
  src/backend_api/app/core/schemas/plot/input.py
  src/backend_api/app/plotting/plotter.py
  src/backend_api/app/tests/utils/model_utils/plot.py
  src/frontend/openapi.json
  src/frontend/src/client/models/Item.ts
  src/frontend/src/client/models/ItemCreate.ts
  src/frontend/src/client/models/ItemSpecs.ts
  src/frontend/src/client/schemas/$Item.ts
  src/frontend/src/client/schemas/$ItemCreate.ts
  src/frontend/src/client/schemas/$ItemSpecs.ts
  src/frontend/src/components/Input/ItemInputComp/IsItemInput.tsx
  src/frontend/src/components/Input/ItemInputComp/MinMaxItemLvlInput.tsx
  src/frontend/src/components/Input/MiscItemInput.tsx
  src/frontend/src/components/Input/ModifierInputComp/FancyModifierInput.tsx
  src/frontend/src/components/Input/StandardLayoutInput/MinMaxNumberInput.tsx
  src/frontend/src/store/GraphInputStore.tsx
  src/frontend/src/store/StateInterface.tsx
Labels: backend.API, frontend.UI

#669 668 general bug fixes found while surfing application
  src/backend_api/app/api/deps.py
  src/backend_api/app/core/cache/user_cache.py
  src/backend_api/app/email-templates/build/reset_password.html
  src/frontend/src/components/Common/CustomLink.tsx
  src/frontend/src/components/Graph/CustomTooltip.tsx
  src/frontend/src/components/UserSettings/ChangeEmailConfirmation.tsx
  src/frontend/src/components/UserSettings/ChangePassword.tsx
  src/frontend/src/components/UserSettings/ChangeUsernameConfirmation.tsx
  src/frontend/src/components/UserSettings/DeleteConfirmation.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/hooks/validation/useAuth.ts
  src/frontend/src/routes/_layout.tsx
  src/frontend/src/routes/recover-password.tsx
  src/frontend/src/routes/reset-password.tsx
  src/frontend/src/routes/signup.tsx
  src/frontend/src/routes/user-not-activated.tsx
  src/frontend/src/utils.ts
Labels: backend.API, frontend.UI, Bug, frontend.Data, backend.Cache, frontend.Navigation

#671 #670 Fixed useAuth is active state bug
  src/frontend/src/hooks/validation/useAuth.ts
Labels: Bug, frontend.Data

#674 #672 Bumped user session time to 3 days
  src/backend_api/app/core/config.py
Labels: backend.API

#676 675 add fixed parameter createdhourssincelaunch in the query
  src/backend_api/app/alembic/versions/35736bccbe58_v8_create_baseline_for_hypertable_.py
  src/backend_api/app/core/models/models.py
  src/backend_api/app/core/schemas/plot/input.py
  src/backend_api/app/plotting/plotter.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/config.py
  src/backend_data_retrieval/data_retrieval_app/utils.py
  src/frontend/.env
  src/frontend/openapi.json
  src/frontend/src/client/models/PlotQuery.ts
  src/frontend/src/client/schemas/$PlotQuery.ts
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/main.tsx
Labels: backend.Database, backend.API, frontend.Data, Optimization

#679 #678 Added a variable to track if we have recently caught up to the s…
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_handler.py
Labels: backend.data_retrieval, Bug

#685 #684 Added check for if ip None
  src/backend_api/app/api/deps.py
  src/backend_api/app/api/routes/plot.py
  src/backend_api/app/api/routes/turnstile.py
  src/backend_api/app/core/rate_limit/rate_limiters.py
  src/backend_api/app/main.py
  src/backend_api/app/middleware/request_logs.py
  src/backend_api/pyproject.toml
Labels: backend.API, test.Simulate

#691 #690 Added more dynamic x-axis domain
  src/frontend/src/components/Graph/GraphComponent.tsx
Labels: frontend.UI, Quality

#693 #692 Added filtering for duplicate items from the past hour
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/detectors/base.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/main.py
Labels: backend.Data_retrieval

#695 #694 Removed `Authorization` from latest_change_id request
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_handler.py
Labels: backend.Data_retrieval

#697 #696 Update frontend with env var config and new track league date
  src/frontend/src/components/Common/DateDaysHoursSinceLaunchStats.tsx
  src/frontend/src/components/Common/Header.tsx
  src/frontend/src/components/Common/MainPage.tsx
  src/frontend/src/components/Graph/GraphComponent.tsx
  src/frontend/src/components/Input/LeagueInput.tsx
  src/frontend/src/components/Widget/CaptchaWidget.tsx
  src/frontend/src/config.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/main.tsx
  src/frontend/src/store/GraphInputStore.tsx
  src/frontend/src/utils.ts
Labels: frontend.UI

#700 #699 Added grafana dashboards and datasources auto on startup local
  src/.env
  src/docker-compose.override.yml
  src/grafana/dashboards/backend-api.json
  src/grafana/dashboards/backend-data-retrieval.json
  src/grafana/provisioning/dashboards/dashboards.yml
  src/grafana/provisioning/datasources/automatic.yml
Labels: Deploy, Logging

#702 #701 Added filtering for too high priced items
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/transform_poe_api_data.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/config.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/scrap_and_mock_poe_api_docs_objs.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/test_with_sim_api.py
Labels: backend.Data_retrieval, Development

#703 698 improve standard deviation and confidence levels to fit data
  src/backend_api/app/plotting/plotter.py
  src/backend_api/app/plotting/utils.py
  src/frontend/src/components/Graph/CustomTooltip.tsx
  src/frontend/src/components/Graph/GraphComponent.tsx
  src/frontend/src/hooks/graphing/processPlottingData.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/schemas/CurrencyVisuals.tsx
  src/frontend/src/schemas/Datum.tsx
Labels: Quality
