Repository Path-of-Modifiers/pathofmodifiersapp, pull requests merged in 2025-03, with the labels that each got.

#711 frontend: Removed terms of use, updated privacy policy
  src/frontend/src/components/Common/Footer.tsx
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/privacy-policy.tsx
  src/frontend/src/routes/terms-of-use.tsx
Labels: frontend.UI, Communication

#714 #712 Added filtration for adorned jewels with no roll
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/transforming_data/roll_processor.py
Labels: Bug

#721 717 add hardcore league filtering to data retrieval
  src/.env
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/config.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/detectors/base.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/main.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/data_deposit_test_data_creator.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/scrap_and_mock_poe_api_docs_objs.py
Labels: backend.Data_retrieval

#722 719 add hardcore league option in dashboard
  src/frontend/.env
  src/frontend/src/components/Input/LeagueInput.tsx
  src/frontend/src/config.tsx
  src/frontend/src/hooks/graphing/utils.tsx
  src/frontend/src/store/GraphInputStore.tsx
Labels: frontend.UI, frontend.Data

#725 724 add idols to data retrieval
  src/backend_api/app/alembic/versions/35736bccbe58_v8_create_baseline_for_hypertable_.py
  src/backend_api/app/core/models/models.py
  src/backend_api/app/core/schemas/modifier.py
  src/backend_api/app/crud/base.py
  src/backend_api/app/crud/extensions/crud_modifier.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/data_depositor_base.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/item_base_type/item_base_type_data/Idols.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/idol/BurialIdol.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/idol/ConquerorIdol.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/idol/KamasanIdol.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/idol/MinorIdol.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/idol/NobleIdol.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/idol/TotemicIdol.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/AulsUprising.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/BalanceOfTerror.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/BrutalRestraint.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/CircleOfAmbition.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/CircleOfAnguish.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/CircleOfFear.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/CircleOfGuilt.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/CircleOfNostalgia.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/CircleOfRegret.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ElegantHubris.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ForbiddenFlame.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ForbiddenFlesh.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ForbiddenShako.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/GloriousVanity.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/GrandSpectrum.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ImpossibleEscape.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/LethalPride.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/MilitantFaith.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/Paradoxica.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/PrecursorsEmblem.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ReplicaDragonfangsFlight.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ShroudOfTheLightless.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/SkinOfTheLords.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/SplitPersonality.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/SublimeVision.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ThatWhichWasTaken.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/TheAdorned.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/TheLightOfMeaning.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/TheUtmost.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/ThreadOfHope.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/Voices.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data/unique/WatchersEye.csv
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_data_depositor.py
  src/backend_data_retrieval/data_retrieval_app/data_deposit/modifier/modifier_processing_modules.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/data_retrieval/poe_api_handler.py
  src/backend_data_retrieval/data_retrieval_app/external_data_retrieval/detectors/idol_detector.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/config.py
  src/backend_data_retrieval/data_retrieval_app/tests/scripts/create_public_stashes_test_data/utils/data_deposit_test_data_creator.py
Labels: backend.new_data, backend.Data_retrieval, Project structure
